<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://echeck3.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>echeck3.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>eCheck3</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$eCheck3</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <!--<ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=jiecj6kiqp.database.windows.net;Initial Catalog=EMSDataLive;Persist Security Info=True;User ID=applicationUser;Password=RnPeZYB4ug8xwhZV" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="eCheck3.Models.ApplicationDbContext, eCheck3" Origin="Configuration" />
          </Object>
        </ObjectGroup>-->
        <ObjectGroup Name="EMSDataAccessEntities" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="eCheck3.Models.EMSDataAccessEntities, eCheck3" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="EMSDataCompanyEntities" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="eCheck3.Models.EMSDataCompanyEntities, eCheck3" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="EMSDataDBContext" Order="6" Enabled="False">
          <Destination Path="Data Source=jiecj6kiqp.database.windows.net;Initial Catalog=EMSDataLive;Persist Security Info=True;User ID=applicationUser;Password=RnPeZYB4ug8xwhZV" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="eCheck3.Models.ApplicationDbContext, eCheck3" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EMSDataAccessEntities-Web.config Connection String" >
      <ParameterValue>metadata=res://*/Models.Access.csdl|res://*/Models.Access.ssdl|res://*/Models.Access.msl;provider=System.Data.SqlClient;provider connection string="Data Source=jiecj6kiqp.database.windows.net;Initial Catalog=EMSDataLive;Persist Security Info=True;User ID=applicationUser;Password=RnPeZYB4ug8xwhZV"</ParameterValue>
    </MSDeployParameterValue>

    <MSDeployParameterValue Include="$(DeployParameterPrefix)EMSDataCompanyEntities-Web.config Connection String" >            
      <ParameterValue>metadata=res://*/Models.Company.csdl|res://*/Models.Company.ssdl|res://*/Models.Company.msl;provider=System.Data.SqlClient;provider connection string="Data Source=jiecj6kiqp.database.windows.net;Initial Catalog=EMSDataLive;Persist Security Info=True;User ID=applicationUser;Password=RnPeZYB4ug8xwhZV"</ParameterValue>
    </MSDeployParameterValue>
    
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EMSDataDBContext-Web.config Connection String">
      <ParameterValue>Data Source=jiecj6kiqp.database.windows.net;Initial Catalog=EMSDataLive;Persist Security Info=True;User ID=applicationUser;Password=RnPeZYB4ug8xwhZV</ParameterValue>
    </MSDeployParameterValue>
            
  </ItemGroup>
</Project>