@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>


<h3>Welcome to Version 3</h3>

<h4>Data design</h4>
<p>improved speed of data entry, report generation</p>

<h4>User management</h4>
<p>password reset / 2 factor authentication</p>
<p>group membership improvements</p>
<p>user role access improvement</p>