@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>


<h3>Welcome to Version 3</h3>

<h4>UI Design</h4>
<p>Table standardization with resize columns, sort, search, row-count</p>


<h4>Data design</h4>
<p>improved speed of data entry, report generation</p>

<h4>User management</h4>
<p>password reset / 2 factor authentication / email verification</p>
<p>group membership improvements</p>
     - ability to add users to group from group or user perspective
    - ability to see roles for individual users, and where they get them from
<p>user role access improvement</p>
    - better visibility, definition of what roles grant for access

<p>Mobile Friendly version</p>
<ul>
    <li>Home/Logon Page</li>
    <li>mobile dashboard</li>
    <li>Contact Page</li>
</ul>