@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<address>
    <strong>Critical Communication Solutions Inc.</strong><br />
    Box 214<br />
    Grande Prairie, Alberta, T8V 3A4<br />
    <abbr title="Phone">P:</abbr>
    800.385.6726<br />
    <abbr title="Fax">F:</abbr>
    800.385.6726
</address>

<address>
    <strong>eMail:</strong>   <a href="mailto:info@criticalcommunication.ca">info@criticalcommunication.ca</a><br />
</address>

<div class="row">
    <address class="col-sm-6">
        <a href="http://www.criticalcommunication.ca" target="_blank"><img src="~/Images/Social/website.png" /> www.criticalcommunication.ca</a><br /> <br />
        <a href="http://www.criticalcommunication.ca/blog" target="_blank"><img src="~/Images/Social/feed.png" alt="Blog" /> Blog</a><br /><br />
        <a href="http://www.facebook.com/CriticalComm" target="_blank"><img src="~/Images/Social/facebook.png" alt="Facebook" /> Facebook</a>
    </address>
    <address class="col-sm-6">
        <a href="http://www.twitter.com/markwoods911" target="_blank"><img src="~/Images/Social/twitter.png" alt="Follow us on Twitter" /> Follow us</a><br /><br />
        <a href="http://twitter.com/share?url=emsdata.ca&hashtags=EMSData&text=I'm using emsdata.ca as my EMS Fleet Management resource.  Check it out! " target="_blank"><img src="~/Images/Social/twitter.png" alt="Tweet#EMSData" /> Tweet about #EMSData</a><br /><br />
        <a href="http://ca.linkedin.com/in/markwoodsCCSI" target="_blank"><img src="~/Images/Social/linkedin.png" alt="LinkedIn" /> LinkedIn</a>
    </address>
</div>

